---
import PlayListPick from "../components/PlayListPick.astro";
import Layout from "../layouts/Layout.astro";
import { supabase } from "../lib/supabase";
import type { PlaylistItem } from "../lib/types";

const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

if (!accessToken || !refreshToken) {
  return redirect("/");
}

const { data, error } = await supabase.auth.setSession({
  refresh_token: refreshToken.value,
  access_token: accessToken.value,
});

if (error || !cookies.has('spotify-access-token')) {
  cookies.delete("sb-access-token", {
    path: "/",
  });
  cookies.delete("sb-refresh-token", {
    path: "/",
  });

  return redirect("/");
}

const user = await supabase.auth.getUser()
const spotify_access_token = cookies.get("spotify-access-token")?.value;

const {items: userplaylists} : { items: PlaylistItem[] } = await fetch(`https://api.spotify.com/v1/me/playlists`,{
   headers: {
        'Authorization': `Bearer ${spotify_access_token}`
    }
})
.then(response => response.json()).then(
  data => {
     const filteredItems = data.items.filter((playlist: PlaylistItem) => 
      playlist.owner.id === user.data.user?.user_metadata.provider_id
    )

    return { items: filteredItems }
  }
)
---

<Layout title="home">
    <div class="text-white">
      <header class="flex flex-col items-center justify-center mb-4">
        <h1 class="text-gradient">Welcome to spotynder</h1>
        <p class="italic -mt-2 text-gray-400 ">Where the new sounds begin. Let&apos;s discover some music!</p>
      </header>

        <div>
          <header class="mb-2">
            <h2 class="font-bold">Select your playlist you want to populate with some new music</h2>
            <p class="text-gray-400 italic text-sm">Remember you can only add music to your own playlists</p>
          </header>

            <ul class="flex gap-2 flex-wrap ">
                {userplaylists.map((playlist) => (
                  <PlayListPick playlist={playlist} />
                ))}
            </ul>
        </div>
        <form action="/api/auth/signout">
          <button type="submit">Sign out</button>
        </form>
    </div>
</Layout>

<style>
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
	}
</style>
