---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
export const prerender = true;
---

<Layout title="Spotynder">
	<main>
		<h1 class="text-gradient">Spotynder</h1>
		<div class="instructions flex flex-col gap-1">
			<form action="/api/auth/signin" method="post" class="w-fit">
				We&apos;re happy to have you here! To get started, enter with your
					<button value="spotify" name="provider" type="submit" class="hover:opacity-75 transition-opacity">
						<code>Spotify</code>
					</button>
					account.
				</form>
		</div>
		<ul role="list" class="link-card-grid">
			<Card
				title="What is spotynder?"
				body="An app that allows you to find your next favorite song to add to your playlist."
			/>
			<Card
				title="Why spotynder?"
				body="Because it&apos;s a mix of Spotify and Tinder. Swipe right to add to your playlist, swipe left to skip."
			/>
			<Card
				title="Why do I need to login?"
				body="We need to know who you are so we can add songs to your playlist. We don&apos;t store any of your data."
			/>
			<Card
				title="Who made this?"
				body={`Made with love by Joaquin Arlettaz ❤️`}
			/>
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 5.5rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 0.5em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 350%;
		background-position: 0%;
		padding-bottom: 20px;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(45deg, rgba(var(--accent-dark), 66%), rgba(var(--tinder-red), 30%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
