---
import Layout from "../layouts/Layout.astro";

const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

if (accessToken && refreshToken) {
  return redirect("/dashboard");
}
---

<Layout title="Entering">
  <h1>Sign in or register</h1>
  <p>Login or register by entering with your spotify account</p>
  <form action="/api/auth/signin" method="post">
    <button value="spotify" name="provider" type="submit">Sign in with GitHub</button>
  </form>
</Layout>